build/
bin/
lib/
ipch/
__pycache__/
src/data
debian/autoreconf*
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/pioneer*/
autom4te.cache/
codedoc/
nd/Data/
doxygen/html
doxygen/latex
/release
/out

.deps
*.swp
shipstat.csv
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
test-driver
stamp-h1
*~
*.orig
*.wwdb
gmon.out
.dirstamp
result
*.sgm
*.user
*.exp

# Windows - local irrelevant cruft
Thumbs.db

# MacOS - local irrelevant cruft
.DS_Store

# Exclude build artefacts
pioneer
pioneer.exe
modelviewer
modelviewer.exe
modelcompiler
modelcompiler.exe
modelcompiler-debug.lib
modelcompiler-prerelease.lib
modelcompiler-profile.lib
modelcompiler.lib
pioneer-debug.lib
pioneer-prerelease.lib
pioneer-profile.lib
pioneer.lib
pioneer-x64*.lib
pioneer-*.tar.*

*.vcxproj.user
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.o
*.a
*.manifest
/*.exe
/*.dll
/*.pdb
/*.ilk

# meta-build tooling products etc. shouldn't be tracked
Makefile
Makefile.in
Debug/
PreRelease/
Profile/
Release/
cmake-*
CMakeUserPresets.json
compile

# IDEs make their local configurations shouldn't be tracked
.vscode/*
.vs/
.project
.cproject
*.VC.db
*.code-workspace
!pioneer-default.code-workspace
.idea

# Core dumps shouldn't be tracked by git.
.[0-9][0-9]*

# Don't track C++ language server cache files.
.ccls-cache
.clangd/
.cache/

!data/modules/Debug
*.lnk
