build/
bin/
lib/
Debug/
PreRelease/
Release/
ipch/
src/data
debian/autoreconf*
debian/files
debian/*.debhelper.log
debian/*.substvars
debian/pioneer*/
autom4te.cache/
*.vcxproj.user
*.user
*.ncb
*.suo
*.sdf
*.opensdf
*.o
*.a
.deps
Makefile
Makefile.in
.DS_Store
*.swp
shipstat.csv
pioneer
pioneer.exe
modelviewer
modelviewer.exe
aclocal.m4
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
missing
stamp-h1
*~
*.orig
pioneer-*.tar.*
Thumbs.db
