#!/usr/bin/make -f
# -*- makefile -*-
# This file was originally written by Joey Hess and Craig Small.
# As a special exception, when this file is copied by dh-make into a
# dh-make output file, you may use that output file without restriction.
# This special exception was added by Craig Small in version 0.37 of dh-make.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

PIONEER_DATA_DIR = /usr/share/games/pioneer/data
CFLAGS = $(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS = $(shell dpkg-buildflags --get CXXFLAGS)
CFLAGSMORE =
CXXFLAGSMORE =

%:
	dh $@ --with autoreconf --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
			     --with-external-liblua \
			     PIONEER_DATA_DIR="$(PIONEER_DATA_DIR)" \
			     CFLAGS="$(CFLAGS) $(CFLAGSMORE)" \
			     CXXFLAGS="$(CXXFLAGS) $(CXXFLAGSMORE)"

override_dh_auto_test:;
