body {
  background: rgb(241, 241, 241);
  color: rgba(0, 0, 0, 0.87);
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

#top-header {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  height: 5em;
  margin: 0;
  width: 100%;
}

#top-header h1 {
  margin: 0;
  padding: 0.5em;
}

.ui-widget {
  font: inherit;
}

.ui-helper-reset {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 10pt;
}

.ui-tabs-nav {
  background-color: inherit;
  background: rgb(241, 241, 241);
  border-radius: 0;
  border: none;
  padding: 0 !important;
}

#new-tab-button {
  height: 2em;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  margin: 0.2em 0;
}

#tabs .ui-icon-close {
  cursor: pointer;
  float: left;
  margin: 0.4em 0.2em 0 0;
}

.deeptable {
  border: none;
  border-collapse: collapse;
}

.deeptable th.deeptable-title {
  background-color: #eee;
  padding: 2px 0 2px 5px;
  text-align: left;
}

.deeptable th {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  border-top: 1px solid #aaa;
  font-weight: bold;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
}

.deeptable td {
  border-left: 1px dotted #ccc;
  border-right: 1px dotted #ccc;
  padding: 2px;
}

.deeptable thead {
  background: #ccc;
  border: 1px solid #aaa;
}

.deeptable tbody {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;  
}

.deeptable tbody.odd {
  background: #eee;
}

.deeptable tbody.even {
  background: #fff;
}

.deeptable td.number {
  text-align: right;
}
