body {
  background: rgb(241,241,241);
  color: rgba(0,0,0,0.87);
  margin: 0;
  padding: 0;
  font-family: 'PT Sans Caption', sans-serif;
}

#top-header {
  background: white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
  height: 5em;
  margin: 0;
  width: 100%;
}

#top-header h1 {
  margin: 0;
  padding: 0.5em;
}

.ui-helper-reset {
  font-family: 'PT Sans Caption', sans-serif;
  font-size: 10pt;
}
.ui-tabs-nav {
  background-color: inherit;
  border: none;
  background: rgb(241,241,241);
  padding: 0 !important;
  border-radius: 0;
}

#new-tab-button {
  height: 2em;
  width: 2em;
  text-align: center;
  vertical-align: middle;
  margin: 0.2em 0;
}

#tabs .ui-icon-close {
  float: left; margin: 0.4em 0.2em 0 0; cursor: pointer;

}